<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.3" package="com.billog.studio.a100pyta" android:installLocation="auto" android:versionCode="4">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:label="100 pytań"></application>
</manifest>